<p>list works!</p>

<input type="password" placeholder="enter pass" id="pass">
<button type="button" (click)="changeType()" >Mostrar pass</button>

<div class="list-products">
    <div class="container-product" *ngFor="let product of productsList" (click)="viewProduct(product.id)">
        <div class="product">
            <div class="container-img">
                <img class="img-product" src="{{ product.image }}">
            </div>
            <div class="info-product">
                <h3> {{ product.title }} </h3>        
                <div>
                    <!-- 
                    <div class="description">
                        <textarea disabled> {{ product.description }} </textarea>  
                    </div>
                    <p> Category: {{ product.category }} </p>
                    <p> Stock: {{ product.rating.count }} </p>
                    <p> Populary: {{ product.rating.rate }} </p>
                    -->
                    <h3 class="price-product"> $ {{ product.price }} </h3>
                </div>
            </div>
        </div>
    </div>
</div>